@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 25 95% 53%;
    --primary-foreground: 60 9% 98%;
    --secondary: 142 76% 36%;
    --secondary-foreground: 355 100% 97%;
    --muted: 60 4% 96%;
    --muted-foreground: 25 5% 45%;
    --accent: 38 92% 50%;
    --accent-foreground: 48 96% 89%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 60 9% 98%;
    --border: 20 5% 90%;
    --input: 20 5% 90%;
    --ring: 25 95% 53%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 60 9% 98%;
    --card: 20 14% 4%;
    --card-foreground: 60 9% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 9% 98%;
    --primary: 25 95% 53%;
    --primary-foreground: 60 9% 98%;
    --secondary: 142 70% 45%;
    --secondary-foreground: 144 100% 97%;
    --muted: 12 6% 15%;
    --muted-foreground: 24 5% 64%;
    --accent: 12 6% 15%;
    --accent-foreground: 60 9% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 60 9% 98%;
    --border: 12 6% 15%;
    --input: 12 6% 15%;
    --ring: 25 95% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
