NODE_ENV=production
MOCK_DB=false
API_ENV=cloudflare
API_MAIN_URL=https://foodleap-api.victorlima124tt.workers.dev
SEARCH_SERVICE_URL=https://foodleap-search.victorlima124tt.workers.dev
NEXT_PUBLIC_API_URL=https://api.foodleap.com.br
